<h1>Sign up!</h1>

<form action="<%= users_url %>" method="post">

    <label for="">
        Username:
        <input type="text" name="user[username]">
    </label>
 <br>
    <label for="">
        Password:
        <input type="password" name="user[password]" value="">
    </label>

    <button type="submit">Sign up</button>


</form>